@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {
  color: #121212;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 561px;
  height: 345px;
  border-radius: 16.587px;
  background: #FFFCEB;
  margin: 0 auto;
   padding-top: 20px;
}
.event-heading{
  color: #885DF5;
  font-size: 36px;
  font-weight: 900;
  border-top: 30px;
  padding-top: 20px;
  margin-left: 55px;
}
.event-description {
  color: #4C423C;
  font-size: 14px;
  font-weight: 500;
}
.event-details {
  display: flex;
  flex-direction: column;
}
.book-now {
  display: inline-flex;
  width: 126px;
height: 44px;
  padding: 5px 13px 8px 13px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #ED702F;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}